<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="description" content="Website to host all code snippets used in the eye tracker">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>TARL - <%= current_page.data.title || "Eye Tracking" %></title>

    <%= stylesheet_link_tag :app %>
    <%= stylesheet_link_tag :syntax %>

    <%= favicon_tag('/favicon.ico') %>
  </head>

  <body>
    <%= yield %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <%= javascript_include_tag :app %>

  </body>
</html>
